@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root{
  font-size: 18px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #616161;
}

body{
  color: var(--white30);
  font-family: 'nunito', sans-serif;
  background: #251f24;
  margin: 0;

  /*font-family: "charter"*/

}

a{
  color: var(--white30);
}

.header {
  position: sticky;
  inset-block-start: 0;
  inset-block-start: -45px;

}

.header-content{
  position: relative;
  inset-block-start: 65px;

}

header{
  /*--white10: lightblue;*/
  font-size: 14px;
  color: var(--white20);
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: -208px;
  inline-size: 188px;

}

header li{
  color: var(--white20)
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}
header a:hover {
  color: var(--white30);
}

  nav details summary{
  font-weight: bold;
}

h1{
  font-size: 60px;
  margin-block-start: 64px;
  margin-inline-end: 16 px;
  /* text-decoration: underline;
  /* font-size: 3.75em; */
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-block: 16px;
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);

}

pre {
  background:var(--white10);
  padding: 40px;
  overflow: auto;
  border-radius: 3px;
}

p {
  color: var(--white20);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  height: 350px;

}

.section-content img{
margin-block-start: 40px;
display: block;
max-inline-size: 100%;
}


.section-content {
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}

.section-content h3::before{
  content: counter(titleList, decimal) '.';
}

/*.section-content h3::after{
  content: '';
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;*/

}

blockquote {
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: var(--white10);
  border-radius: 3px;
  padding-inline-end: 24px;
  padding-inline-start: 24px;
  scroll-padding-block-start: 24px;
  scroll-padding-block-end: 24px;
}
blockquote p {
  color: var(--white30);
}

.main hr{
  display: none;
}

.main {

}


.wrapper {

  max-inline-size: 902px;
  /*block-size: 100px;*/
  margin: auto;
}

.main-content {
  padding-inline: 16 px;

}

.video {
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}



























::selection{
  background: var(--white30);
}